<div id="side" class="col-md-2">
  <%= link_to "All Trips", trips_path, class: "btn" %>
  <h2><%= @trip.title %></h2>
  <% @locationpins.each do |locationpin| %>
    <% location = locationpin.location %>
    <div class="list-group">
      <div class="list-group-item">
       <h3 class="location-names list-group-item-heading">
        <%= link_to location.name, location_path(location) %></h3>
        <% get_posts(locationpin).each do |post| %>
        <li class="list-group-item-text"><%= link_to post.title, post_path(post) %></li>
       <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="map" class="col-md-10">
   <div id="map-canvas"></div>
</div>

<% @coords.each do |coord| %>
  <% lat = coord[:lat] %>
  <% lon = coord[:lon] %>
  <% title = coord[:title] %>
  <% body = coord[:body] %>

  <script type="text/javascript">
    $( document ).ready(function() {
      myLatlng = new google.maps.LatLng('<%= lat %>', '<%= lon %>' );
      placeMarker(myLatlng, theMap, '<%= title %>', '<%= body %>');
    });
  </script>
<% end %>
