<div id="side" class="col-md-2">
  <%= link_to "All Trips", trips_path, class: "btn" %>
  <h2><%= @trip.title %></h2>
  <hr>
  <% @locations.each do |location| %>
     <h3 class="location-names"><%= location.name %></h3>
     <% get_posts(location).each do |post| %>
      <%= link_to post.title, post_path(post) %></p>
     <% end %>
  <% end %>
</div>

<div id="map" class="col-md-10">
   <div id="map-canvas"></div>
</div>

<% @coords.each do |coord| %>
  <% lat = coord[:lat] %>
  <% lon = coord[:lon] %>

  <script type="text/javascript">
    $( document ).ready(function() {
      myLatlng = new google.maps.LatLng('<%= lat %>', '<%= lon %>');
      placeMarker(myLatlng, theMap);
    });
  </script>
<% end %>
