<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit "Create Account", class: 'btn btn-lg btn-warning' %>
<% end %>

<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
