<div id="side" class="col-md-2">
<h1>New Post</h1>
  <%= form_for @post, url: trip_posts_path do |f| %>
    <br>
      <%= f.label "Location" %>
      <%= f.text_field :location_pin %>
    <br>
      <%= f.label :title %>
      <%= f.text_field :title %>
    <br>
      <%= f.label :body %>
      <%= f.text_area :body  %>
    <br>
      <%= f.submit %>
  <% end %>
</div>