<!DOCTYPE html>
<html>
<head>
  <title>TravelBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCRgPCj5H7JaEa7KaY1Pl13TUUTBcppL2Y' %>
  <%= javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js' %>
  <%= javascript_include_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/navbar" %>
  <%= yield %>

</body>
</html>
