<!DOCTYPE html>
<html>
<head>
  <title>TravelBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
  <%= link_to "Index", root_path%></li>

    <% if logged_in? %>
     <li>
      <%= link_to "Logout", '/users/end' %>
    </li>
      <li>(Logged in as <%= User.find(session[:user_id]).username %>)</li>
    <% else %>
    <li>
      <%= link_to "Login/Signup", '/users/new' %>
    </li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
